{{>navigation}}
<div class="container">
  {{#each books}}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src='{{image}}'>
          <div class="caption">
            <div class="titlebox"><h4>{{title}}</h4></div>
            <h5>{{author}}</h5>
            <p class="description">{{description}}</p>
            <p><a href="#" class="btn btn-primary" role="button">Add to My List</a></p>
          </div>
        </div>
      </div>
  {{/each}}
</div>


{{>add-book}}

//Search form
