{{>navigation}}

  {{#each books}}
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img class="book-img" src='{{image}}'>
          <div class="caption">
            <h3>{{title}}</h3>
            <h5>{{author}}</h5>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Add to My List</a></p>
          </div>
        </div>
      </div>
      </div>
  {{/each}}


//Form to add new book

//Search form
