<h1>Book List</h1>

{{#each books}}
  <ul>
    <li>{{author}} {{title}} <img src='{{image}}'>
    <button type="button" name="button">Add to my list</button></li>
  </ul>
{{/each}}


//Form to add new book

//Search form
