{{>navigation}}

<div class="container">
  {{#each notes}}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <li><p class="comments">{{comments}}</p></li>
          </div>
        </div>
      </div>
  {{/each}}
</div>
