{{>navigation}}

<div class="container">
  {{#each books}}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src='{{image}}'>
          <div class="caption">
            <div class="titlebox"><h4>{{title}}</h4></div>
            <p class="comments">{{comments}}</p>
          </div>
        </div>
      </div>
  {{/each}}
</div>
